-e .
-e MyRecbole
fda
torch==2.0.0
tqdm~=4.65.0
protobuf<3.21
mlflow==2.3.0
pandas~=1.5.3
faiss-gpu==1.7.2
pynvml==11.5.0
frozendict==2.4.4
mmh3==4.1.0
sentencepiece==0.2.0
typing_extensions==4.12.2
# einops
# frozendict==2.1.1
# mmh3~=3.1.0
# requests~=2.29.0
# ipython~=7.32.0
# matplotlib~=3.7.1
# numpy~=1.24.3
# urllib3~=1.26.15
# pytest~=7.3.1
# pyyaml~=6.0
# scipy~=1.10.1
# scikit-learn~=1.0.2
# texttable~=1.6.7
# colorlog~=4.7.2
# colorama~=0.4.4
# setuptools~=66.0.0
# omegaconf~=2.3.0
# mlflow-export-import~=1.2.0
# fda-toolkit==2.4.8
# boto3~=1.26.125
# botocore~=1.29.139
# pynvml~=11.5.0
# requests-cache==1.1.0
